APP_PORT=5000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=db_sikepo

JWT_SECRET=SiKEPo_2026_9fK7xQ2mV8pL4zN6wR3tY5uH1
JWT_EXPIRY_MINUTES=60

RECAPTCHA_SECRET=6Ldpdq8tAAAAAGmQUypLNgFs0wCCLNEIj9W3Q1Er
SITE_KEY=6Ldpdq8tAAAAAHEdGgGMtYS7MaP3XU3BMWjaZF1u